.Chanel_logo_App{
  width: 2.2rem;  
  height: 2.2rem;
  margin: auto;
  border-radius: 100%;
  background-color: rgb(224,227,214);
  display: flex;
}
.fstChar_logo_App{
  margin: auto;
  color: black;
  font-weight: bolder;
  cursor: pointer;
}

.container_Pages_App{
  display: flex;
  background-color: rgb(19,19,19);
}
.container2_Pages_App{
  width: calc(100vw - 5rem);
  height: calc(100vh - 3.65rem);
  border-top: 2px solid rgb(128,128,128,0.45);
  overflow-y: auto;
}
.video_box_app{
  width: 21rem;
  height: 17rem;
  margin-bottom: 1rem;
  border: 2px solid transparent;
}
video {
  background-color: rgba(8,8,8,0.662);
}
.dot{
  height: 4px;
  width: 4px;
  border-radius: 100%;
  background-color: white;
  margin: auto 0.5rem;
}