.container_leftSidebar {
  background-color: rgb(37, 37, 37);
  width: 4.7rem;
  height: calc(100vh - 3.55rem);
  box-sizing: border-box;
  overflow-y: auto;
}
.icon_sidebar_div {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.855);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.icon_sidebar {
    margin: auto;
}
.text_sidebar_icon{
    text-align: center;
    font-weight: 300;
    font-size: 0.85rem;
    padding: 0.2rem;

}
.icon_sidebar_div:hover,
.icon_sidebar_div.active{
    color: aliceblue;
    background-color: rgb(68,68,68);
}

/** drawer sidebar*/
.container_DrawaerLeftSidebar{
  position: absolute;
  display: flex;
  width: 100vw;
  z-index: 500;
}
.container2_DrawaerLeftSidebar{
  height: calc(100vh - 3.6rem);
  overflow-y: auto;
  background-color: rgb(28,28,28);
  width: 15rem;
}
.Drawer_leftsidebar,
.libraryBtn_Drawerleftsidebar{
  padding-top: 0.5rem;
  border-bottom: 2px solid rgba(128,128,128,0.293);
}
.icon_sidebar_div p{
  display: flex;
  margin: 0;
}
.subScriptions_lsdbar{
  color:white;
}
.subScriptions_lsdbar h3{
  text-decoration: underline;
  margin: 20px 10px;
}
.chanel_lsdbar{
  display: flex;
  cursor: pointer;
}
.chanel_lsdbar:hover{
  color: rgb(77,77,243);
}
.chanel_lsdbar p{
  border: 1px solid;
  background-color: grey;
  padding: 0.5rem;
  border-radius: 100%;
  margin: 1rem;
}
.chanel_lsdbar div{
  margin: auto;
  width: 60%;
}
.container3_DrawaerLeftSidebar{
  flex-grow: 1;
  background-color: rgba(0, 0, 0, 0.488);
}