.Container_Navbar{
    border: 1px solid;
    display: flex;
    height: calc(3.5rem - 2px);
    background-color: rgb(33, 33, 33);
    justify-content: space-between;
}
.Burger_Logo_Navbar{
    display: flex;
    height: 3.3rem;
}
.burger{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: space-evenly;
    margin: 0.2rem;
    padding: 0.5rem;
    border: 1 px solid transparent;
    margin-left: 0.5rem;
    margin-right: 0.7rem;
    border-radius: 100%;
}
.burger p{
    margin: 0.5px;
    width: 1.2rem;
    height: 0.1rem;
    background-color: rgb(255, 244, 244);
}
.logo_div_Navbar{
    display: flex;
    text-decoration: none;
}
.logo_title_navbar{
    margin: auto;
    color: white;
    font-weight: bold;
}
.apps_Box{
    width: 25px;
    margin: auto 0.7rem;
    height: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.appBox{
    border: 1px solid white;
    margin: 0.1rem;
    width: 2px;
    height: 2px;
}
.Auth_cont_Navbar{
    width: fit-content;
    margin: auto 0.5rem;
    position: relative;
    display: flex;
}
.Auth_Btn{
    cursor: pointer;
    color: #3ea6ff;
    background-color: rgb(36,36,36);
    border: 2px solid;
    margin: 0;
    padding: 0.5rem;
    border-radius: 0.1rem;
}
